init:
  image:
    repository: vit0r/nominatim-init
    pullPolicy: Always
    tag: ~
  pbf_url: https://download.geofabrik.de/south-america/brazil-latest.osm.pbf
nominatim:
  replicaCount: 1
  image:
    repository: vit0r/nominatim
    pullPolicy: Always
    tag: ~
  serviceAccount:
    create: true
    annotations: {}
    name: "nominatim"
  podAnnotations: {}
  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 1001
  podSecurityContext: {}
  persistence:
    storageClassName: standard
  service:
    type: ClusterIP
    port: 8000
  ingress:
    enabled: false
    className: "nginx"
    annotations: {}
    hosts:
      - host: nominatim.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
    #  - secretName: nominatim-tls
    #    hosts:
    #      - nominatim.local
  resources:
    requests:
      cpu: 2000m
      memory: 2Gi
    limits:
      cpu: 5000m
      memory: 4Gi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
postgres:
  replicaCount: 1
  image:
    repository: vit0r/postgres
    pullPolicy: Always
    tag: 4.5.0
  imagePullSecrets: []
  podAnnotations: {}
  persistence:
    storageClassName: standard
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 101
  service:
    type: ClusterIP
    port: 5432
  resources:
    limits:
      cpu: 5000m
      memory: 4Gi
    requests:
      cpu: 2000m
      memory: 2Gi
update:
  image:
    repository: vit0r/nominatim-update
    pullPolicy: Always
    tag: ~
  updates_url: https://download.geofabrik.de/south-america/brazil-updates
nodeSelector: {}
tolerations: []
affinity: {}
imagePullSecrets: []
nameOverride: "nominatim"
fullnameOverride: "nominatim"
strategy:
  type: Recreate
