apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nominatim.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nominatim.labels" . | nindent 4 }}
spec:
  {{- if .Values.strategy.type }}
  strategy: 
    type: {{ .Values.strategy.type }}
  {{- end }}
  {{- if not .Values.nominatim.autoscaling.enabled }}
  replicas: {{ .Values.nominatim.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "nominatim.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.nominatim.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nominatim.selectorLabels" . | nindent 8 }}
    spec:
      setHostnameAsFQDN: true
      {{- with .Values.nominatim.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nominatim.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.nominatim.podSecurityContext | nindent 8 }}
      initContainers:
        - name: nominatim-init
          securityContext:
            {{- toYaml .Values.nominatim.securityContext | nindent 12 }}
          image: "{{ .Values.init.image.repository }}:{{ .Values.init.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.init.image.pullPolicy }}
          env:
            - name: NOMINATIM_PBF
              value: {{ .Values.init.pbf_url }}
          volumeMounts:
            - name: nominatim
              mountPath: /data
      containers:
        - name: postgresql
          securityContext:
            {{- toYaml .Values.postgres.securityContext | nindent 12 }}
          image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          imagePullPolicy: {{ .Values.postgres.image.pullPolicy }}
          ports:
            - name: tcp
              containerPort: {{.Values.postgres.service.port}}
              protocol: TCP
              port: {{.Values.postgres.service.port}}
          volumeMounts:
            - name: postgres-data
              mountPath: /data
          resources:
            {{- toYaml .Values.postgres.resources | nindent 12 }}
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.nominatim.securityContext | nindent 12 }}
          image: "{{ .Values.nominatim.image.repository }}:{{ .Values.nominatim.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.nominatim.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.nominatim.containerPort | default 8000 }}
              protocol: TCP
          env:
            - name: NOMINATIM_DATABASE_DSN
              value: pgsql:host=127.0.0.1;port={{.Values.postgres.service.port}};user=nominatim;password=nominatim;dbname=nominatim
            - name: NOMINATIM_VERSION
              value: {{ .Chart.AppVersion }}
            - name: NOMINATIM_IMPORT_STYLE
              value: {{ .Values.nominatim.import_style | default "address" }}
            - name: POSTGRES_DB
              value: nominatim
            # - name: NOMINATIM_TOKENIZER
            #   value: icu
            # - name: NOMINATIM_FLATNODE_FILE
            #   value: ""
            # - name: NOMINATIM_QUERY_TIMEOUT
            #   value: "600"
            # - name: NOMINATIM_REQUEST_TIMEOUT
            #   value: "3600"
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 300
          readinessProbe:
            httpGet:
              path: /status?format=json
              port: http
            initialDelaySeconds: 5
            periodSeconds: 600
          volumeMounts:
            - name: nominatim
              mountPath: /data
          resources:
            {{- toYaml .Values.nominatim.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: nominatim
          persistentVolumeClaim:
            claimName: nominatim
        - name: postgres-data
          persistentVolumeClaim:
            claimName: nominatim-postgres
